---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <div class="posts">
  <!-- variable must be "page", for date formatting -->
    {% for page in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h1>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </h1>
        <p class="meta">
          {% include date_hr.html %}
        </p>
      </header>
      <div class="excerpt">
        {{ page.excerpt }}
        <a class="button" href="{{ page.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
